---
---

<header>
    <div class="container-wrapper py-8 flex items-center justify-between">
        <a href="/" class="text-2xl font-light text-primary tracking-wide">
            Sergi Rodriguez
        </a>
        <nav class="hidden md:block" role="navigation">
            <ul class="flex gap-8 text-lg">
            <li><a href="/">Home</a></li>
            <li><a href="/portfolio">Projects</a></li>
            <li><a href="/about">About</a></li>
            </ul>
        </nav>

        <div class="md:hidden">
            <button id="menu-btn" type="button" class="z-40 block hamburger md:hidden focus:outline-none" data-mobile-nav-button>
                <span class="hamburger-top"></span>
                <span class="hamburger-middle"></span>
                <span class="hamburger-bottom"></span>
            </button>
        </div>       
    </div>
    <nav role="navigation" class="mobile-nav" data-mobile-nav>
        <div class="mobile-nav-inner">
            <ul class="mobile-nav-links">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/portfolio">Projects</a>
                </li>
                <li>
                    <a href="/">Blog</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<script>
  const mobileButton = document.querySelector('[data-mobile-nav-button]');
  const mobileNav = document.querySelector("[data-mobile-nav]");

  mobileButton?.addEventListener("click", () => {
    const open = mobileNav?.classList.toggle('is-open');
    mobileButton.classList.toggle('open', open);
    mobileButton.setAttribute('aria-expanded', String(open));
  });
</script>