---
---

<header class="">
    <div class="max-w-6xl mx-auto px-6 py-4 flex items-center justify-between">
    <a href="/" class="text-lg font-semibold text-primary tracking-wide">
        Sergi Rodriguez
    </a>
    <nav>
        <ul class="flex gap-8">
        <li><a href="/" class="nav-link">Home</a></li>
        <li><a href="/portfolio" class="nav-link">Projects</a></li>
        <li><a href="/about" class="nav-link">About</a></li>
        </ul>
    </nav>
    </div>
</header>