---
import Layout from "@layouts/Layout.astro"; 

export function getStaticPaths() {
  return [
    { params: { project: 'e-commerce-platform' } },
    { params: { project: 'real-time-analytics-dashboard' } },
    { params: { project: 'auth-user-management-service' } },
    { params: { project: 'microservices-architecture-migration' } }
  ];
}

const { project } = Astro.params;
---

<Layout title={project}>
    <h1 class="text-3xl font-bold mb-4">Project: {project}</h1>
</Layout>