---
import Layout from "@layouts/Layout.astro";
import { getCollection, type CollectionEntry } from 'astro:content';

const projects = (await getCollection('projects')) as CollectionEntry<'projects'>[];
---

<Layout title="Portfolio">
    <ul>
      {projects.map(project => (
        <li class="mb-4">
          <a href={`/portfolio/${project.id}`}>
            {project.data.title}
          </a>
        </li>
      ))}
    </ul>
</Layout>
